@import '~ng-smn-ui/core/variables';

:host {
    ui-card {
        position: relative;
        z-index: 2;

        ui-toolbar {
            .title {
                transition: opacity 280ms ui-easing('deceleration'),
                transform 280ms ui-easing('deceleration');

                &.hide {
                    opacity: 0;
                    transform: translateY(-20px);
                }
            }
        }

        .ui-progress {
            position: absolute;
            transition: height 280ms ui-easing('deceleration');
            height: 0;
        }

        &.loading {
            .ui-progress {
                height: 4px;
            }
        }

        .form-info {
            font-size: 14px;
            color: rgba(0,0,0,0.6);
        }
    }
}
