:host {
    ui-card {
        position: relative;
        z-index: 2;

        .search-area {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            border-bottom: 1px solid rgba(0,0,0,0.09);
            width: 100%;

            input {
                flex: 1;
                height: 48px;
                padding: 16px;
                font-size: 16px;
                width: 100%;
                background-color: transparent;
            }

            button:last-child {
                margin-right: 10px;
            }
        }

        .hero-pic {
            height: 40px;
            width: 40px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #FFFFFF;
            font-size: 18px;
        }


    }
}
