<div class="ui-s600">
    <ui-card>
        <ui-toolbar class="flat">
            <form #searchForm="ngForm" name="formBusca" class="ui-validate on-dirty" style="width: 100%">
                <div class="search-area">
                    <input #textoFormBusca="ngModel"
                           name="buscaRapida"
                           [(ngModel)]="filtro"
                           type="text"
                           uiMaxlength="200"
                           autocomplete="off"
                           placeholder="Pesquisar herois"
                           autofocus>
                           <!--(keyup)="buscar(textoFormBusca.value)">-->
                    <button class="ui-button icon flat"
                            type="button"
                            [disabled]="!filtro"
                            (click)="filtro = ''; listarHerois()">
                        <i class="material-icons search-icon">{{filtro ? 'close' : 'search'}}</i>
                    </button>
                </div>
            </form>
        </ui-toolbar>

        <table class="ui-data-table">
            <tbody style="overflow: hidden">
                <tr *ngFor="let heroi of herois" style="height: 60px; user-select: none">
                    <td>
                        <div style="height: 40px; width: 40px; border-radius: 50%; background-color: #FFF">C</div>
                    </td>
                    <td>{{heroi.nome}}</td>
                    <td class="align-right">
                        <button class="ui-button icon flat" uiRipple type="button" [routerLink]="['/meus-herois', heroi.id]">
                            <i class="material-icons">edit</i>
                        </button>
                        <button class="ui-button icon flat"
                                uiRipple
                                type="button" [uiMenuTrigger]="menuDelete" align="right" (click)="prepareToDelete(heroi)">
                            <i class="material-icons">delete</i>
                        </button>
                    </td>
                </tr>

                <tr class="empty" *ngIf="!herois || !herois.length">
                    <td colspan="2">Nenhum herói foi encontrado</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2" class="align-right" *ngIf="!herois || !herois.length">
                        <div class="ui-button-container align-right">
                            <span class="pagination">
                                {{((this.pagina - 1) * 10) + 1}} - {{this.pagina * 10 < this.totalLinhas ? this.pagina * 10 : this.totalLinhas}} de {{this.totalLinhas}}
                            </span>

                            <button class="ui-button flat icon" uiRipple [disabled]="this.pagina < 2" (click)="this.pagina = this.pagina -1; this.listarGrupos();">
                                <i class="material-icons">keyboard_arrow_left</i>
                            </button>

                            <button class="ui-button flat icon" uiRipple [disabled]="this.totalLinhas <= this.pagina * 10" (click)="this.pagina = this.pagina + 1; this.listarGrupos();">
                                <i class="material-icons">keyboard_arrow_right</i>
                            </button>
                        </div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </ui-card>

    <div class="ui-fab-container" style="z-index: 2">
        <button class="ui-button fab accent" uiRipple [routerLink]="['novo']">
            <i class="material-icons">add</i>
        </button>
    </div>
</div>

<ui-menu #menuDelete>
    <div class="ui-menu-content size-2x">
        <ui-subheader>Deseja excluir?</ui-subheader>
        <div class="ui-menu-item" uiRipple (click)="deletarHeroi(heroiParaDeletar); $event.stopPropagation()">
            Sim
        </div>
        <div class="ui-menu-item" uiRipple>
            Não
        </div>
    </div>
</ui-menu>
